# use a single shared SQLite file for both sync + async
TEST_SYNC_DB_URL=sqlite:///./.pytest-sqlite.db
TEST_ASYNC_DB_URL=sqlite+aiosqlite:///./.pytest-sqlite.db

# make `src/` imports work in VS Code test runs
PYTHONPATH=src
