# Postgres
PG_SYNC=postgresql+psycopg://runner:runner@127.0.0.1:54329/runner
PG_ASYNC=postgresql+asyncpg://runner:runner@127.0.0.1:54329/runner

# MySQL
MY_SYNC=mysql+pymysql://runner:runner@127.0.0.1:33069/runner
MY_ASYNC=mysql+aiomysql://runner:runner@127.0.0.1:33069/runner


# MySQL / MariaDB
MYSQL_ROOT_PASSWORD=root
MYSQL_DB=dbop
MYSQL_USER=dbop
MYSQL_PASSWORD=dbop
MYSQL_HOST=localhost
MYSQL_PORT=3306
